@model IEnumerable<MS2Api.Model.Utilisateur>

@{
    ViewData["Title"] = "Utilisateurs";
}

<div class="content">
    <div class="container">
        <a asp-action="Add" asp-controller="Utilisateur" class="btn btn-primary" id="bn">Ajouter un Utilisateur</a>
        @if (Model != null && Model.Any())
        {
            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Age</th>
                        <th>Sexe</th>
                        <th>Tele</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var utilisateur in Model)
                    {
                        <tr>
                            <td>@utilisateur.Nom</td>
                            <td>@utilisateur.Prenom</td>
                            <td>@utilisateur.Age</td>
                            <td>@utilisateur.Sexe</td>
                            <td>@utilisateur.Tele</td>
                            <td class="text-center">
                                <a href="javascript:void(0);" onclick="confirmDelete('@utilisateur.Id')" class="text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@utilisateur.Id"><i class="fas fa-edit"></i></a>
                                <a asp-action="Details" asp-route-id="@utilisateur.Id" class="text-info"><i class="fas fa-info-circle"></i></a>
                                <a asp-action="Add" class="text-warning"><i class="fas fa-folder-plus"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No beneficiaries found.</p>
        }
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/DataTables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        function confirmDelete(id) {
            Swal.fire({
                title: 'Êtes-vous sûr?',
                text: "Vous ne pourrez pas annuler cette action!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui, supprimez-le!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Utilisateur")',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'Supprimé!',
                                    'L\'utilisateur a été supprimé.',
                                    'success'
                                ).then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Erreur!',
                                    response.message,
                                    'error'
                                );
                            }
                        },
                        error: function () {
                            Swal.fire(
                                'Erreur!',
                                'Quelque chose a mal tourné!',
                                'error'
                            );
                        }
                    });
                }
            })
        }
    </script>
}
