@model IEnumerable<MS2Api.Model.Benificier>

@{
    ViewData["Title"] = "Beneficiaries";
}
<div class="container">

    <div class="card">
        <div class="card-header d-flex align-items-center">
            <i class='bx bx-user icon nav-icon bx-lg ml-3 mr-3 text-primary'></i>
            <div>
                <h2 class="h2 text-primary m-0">Liste des Bénéficiaires</h2>
            </div>
        </div>

        <div class="card-body">
            <!-- Documentation des boutons -->
            <div class="alert alert-info" role="alert">
                <ul>
                    <li>
                        <strong class="text-danger">Bouton Supprimer (<i class="fa-solid fa-trash"></i>)</strong> : Ce bouton permet de supprimer un bénéficiaire. Il ouvre une boîte de dialogue de confirmation avant de procéder à la suppression.
                    </li>
                    <li>
                        <strong class="text-primary">Bouton Modifier (<i class="fa-solid fa-pen-to-square"></i>)</strong> : Ce bouton permet de modifier les informations d'un bénéficiaire. Il redirige vers une page de mise à jour.
                    </li>
                    <li>
                        <strong class="text-info">Bouton Détails (<i class="fa-solid fa-circle-info"></i>)</strong> : Ce bouton ouvre une modal affichant les détails d'un bénéficiaire.
                    </li>
                    <li>
                        <strong class="text-warning">Bouton Ajouter Fiche (<i class="fa-solid fa-folder-plus"></i>)</strong> : Ce bouton ouvre une modal permettant d'ajouter différentes fiches (Anamnèse, Médicale, Sociale) pour un bénéficiaire.
                    </li>
                </ul>
            </div>
            <a asp-action="Add" asp-controller="Benificier" class="btn btn-primary mb-3" id="bn">Ajouter un Bénéficiaire</a>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Message"]
                </div>
            }
            @if (Model != null && Model.Any())
            {
                <div class="table-responsive">
                    <table id="myTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Age</th>
                                <th>Sexe</th>
                                <th>Tele</th>
                                <th>TeleUrgent</th>
                                <th>PaysOrigin</th>
                                <th>Nationalite</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var beneficiary in Model)
                            {
                                <tr>
                                    <td>@beneficiary.Nom</td>
                                    <td>@beneficiary.Prenom</td>
                                    <td>@beneficiary.Age</td>
                                    <td>@beneficiary.Sexe</td>
                                    <td>@beneficiary.Tele</td>
                                    <td>@beneficiary.TeleUrgent</td>
                                    <td>@beneficiary.PaysOrigin</td>
                                    <td>@beneficiary.Nationalite</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" data-id="@beneficiary.Id" class="text-danger delete-utilisateur">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                        <a asp-action="Update" asp-route-id="@beneficiary.Id" class="text-primary">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                        <a data-target="#detailleModalCenter" data-id="@beneficiary.Id" data-toggle="modal" class="text-info">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                        <a class="text-warning" data-id="@beneficiary.Id" data-toggle="modal" data-target="#exampleModalCenter">
                                            <i class="fa-solid fa-folder-plus"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Aucun bénéficiaire trouvé.
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Fiches</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="AddDossier" asp-controller="Dossier" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="beneficiaryIdInput" name="BeneficiaryId" hidden>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">
                            <i class="fa-solid fa-file-medical"></i> <b>Ajouter fiche Anamnèse</b>
                        </button>
                    </div>
                </div>
            </form>

            <form asp-action="AddDossierMedical" asp-controller="Medical" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="beneficiaryIdInput" name="BeneficiaryId" hidden>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success btn-block">
                            <i class="fa-solid fa-file-medical-alt"></i> Ajouter fiche Médicale
                        </button>
                    </div>
                </div>
            </form>

            <form asp-action="AddDossierSocial" asp-controller="Dossier" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="beneficiaryIdInput" name="BeneficiaryId" hidden>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-info btn-block">
                            <i class="fa-solid fa-file-alt"></i> Ajouter fiche Sociale
                        </button>
                    </div>
                </div>
            </form>

            <style>
                .btn-block {
                    width: 100%;
                }
            </style>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Détails</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Index" asp-controller="Dossier" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="beneficiaryIdInput" name="BeneficiaryId" hidden>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-info btn-block">
                            <i class="fa-solid fa-file-medical"></i> Détail Fiche Anamnèse
                        </button>
                    </div>
                </div>
            </form>

            <form asp-action="Index" asp-controller="Medical" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="beneficiaryIdInput" name="BeneficiaryId" hidden>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success btn-block">
                            <i class="fa-solid fa-file-medical-alt"></i> Détail Fiche Médicale
                        </button>
                    </div>
                </div>
            </form>

            <form asp-action="AddDossierSocial" asp-controller="Dossier" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="beneficiaryIdInput" name="BeneficiaryId" hidden>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-warning btn-block">
                            <i class="fa-solid fa-file-alt"></i> Détail Fiche Sociale
                        </button>
                    </div>
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .icon-info {
        color: #17a2b8; /* Couleur "info" de Bootstrap */
    }
</style>

@section Scripts {
    <script src="~/assets/libs/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2(v2).js"></script>
    <script src="~/assets/DataTables/datatables.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable();

            $('#exampleModalCenter').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var beneficiaryId = button.data('id');
                var modal = $(this);
                modal.find('.modal-body .beneficiaryIdInput').val(beneficiaryId);
            });

            $('#detailleModalCenter').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var beneficiaryId = button.data('id');
                var modal = $(this);
                modal.find('.modal-body .beneficiaryIdInput').val(beneficiaryId);
            });

            // Handle delete action with SweetAlert using event delegation
            $('#myTable tbody').on('click', '.delete-utilisateur', function () {
                var id = $(this).data('id');
                Swal.fire({
                    title: 'Êtes-vous sûr?',
                    text: "Vous ne pourrez pas revenir en arrière!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, supprimez-le!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Veuillez patienter',
                            text: 'Suppression en cours...',
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        });

                        $.ajax({
                            url: '@Url.Action("Delete", "Benificier")',
                            type: 'POST',
                            data: { id: id },
                            success: function (response) {
                                Swal.close();
                                if (response.success) {
                                    Swal.fire({
                                        title: 'Supprimé!',
                                        text: 'Le bénéficiaire a été supprimé avec succès.',
                                        icon: 'success',
                                        confirmButtonText: 'OK'
                                    }).then(() => {
                                        location.reload();
                                        table.row($(this).parents('tr')).remove().draw();
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Erreur!',
                                        text: response.error,
                                        icon: 'error',
                                        confirmButtonText: 'OK'
                                    });
                                }
                            },
                            error: function () {
                                Swal.close();
                                Swal.fire({
                                    title: 'Erreur!',
                                    text: 'Une erreur s\'est produite.',
                                    icon: 'error',
                                    confirmButtonText: 'OK'
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
}
