@model IEnumerable<MS2Api.Model.Benificier>

@{
    ViewData["Title"] = "Beneficiaries";
}

    <div class="container">
    <a asp-action="Add" asp-controller="Benificier" class="btn btn-primary" id="bn">Ajouter un Benificier</a>
        @if (Model != null && Model.Any())
        {

            <table id="myTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Age</th>
                        <th>Sexe</th>
                        <th>Tele</th>
                        <th>TeleUrgent</th>
                        <th>PaysOrigin</th>
                        <th>Nationalite</th>
                       @*  <th>Adress</th>
                        <th>Ville</th> *@
                        @* <th>TypeDetection</th>
                        <th>CodeUnique</th> *@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var beneficiary in Model)
                    {
                        <tr>
                            <td>@beneficiary.Nom</td>
                            <td>@beneficiary.Prenom</td>
                            <td>@beneficiary.Age</td>
                            <td>@beneficiary.Sexe</td>
                            <td>@beneficiary.Tele</td>
                            <td>@beneficiary.TeleUrgent</td>
                            <td>@beneficiary.PaysOrigin</td>
                            <td>@beneficiary.Nationalite</td>
                            @* <td>@beneficiary.Address</td>
                            <td>@beneficiary.Ville</td> *@
                            @* <td>@beneficiary.TypeDetection</td>
                            <td>@beneficiary.codeUnique</td> *@
                            <td class="text-center">
                                <a asp-action="Delete" asp-route-id="@beneficiary.Id" class="text-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                                <a asp-action="Update" asp-route-id="@beneficiary.Id">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="Add" class="text-info">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <a href="Add" class="text-warning">
                                    <i class="fa-solid fa-folder-plus"></i>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>



        }
        else
        {
        <div class="alert alert-info" role="alert">
            Aucun bénéficiaire trouvé.
        </div>
        }
    </div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/DataTables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}