@model IEnumerable<MS2Api.Model.Benificier>

@{
    ViewData["Title"] = "Beneficiaries";
}

@section Styles{
    <!-- grig js -->
    <link href="~/assets/libs/gridjs/theme/mermaid.min.css" rel="stylesheet" />
}


@if (Model != null && Model.Any())
{
    @* <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    IsActive
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table> *@

    <div id="grid"></div>
}
else
{
    <p>No beneficiaries found.</p>
}

@section Scripts {

    <script src="~/assets/libs/gridjs/gridjs.umd.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new gridjs.Grid({
                columns: [
                    'Nom',
                    'Téléphone Urgent',
                    'Pays d\'origine',
                    'Nationalité',
                    'Adresse',
                    'Ville',
                    'Type de détection',
                    'Code Unique'
                ],
                pagination: {
                    limit: 10
                },
                search: true,
                data: @Html.Raw(Json.Serialize(Model.Select(b => new object[] {
                b.Nom,
                b.TeleUrgent,
                b.PaysOrigin,
                b.Nationalite,
                b.Address,
                b.Ville,
                b.TypeDetection,
                b.codeUnique
            })))
                }).render(document.getElementById('grid'));
        });
    </script>
}
