<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <title>@ViewData["Title"] | MS2 MAPPING</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon-dark.ico" media="(prefers-color-scheme: dark)">
    <link rel="shortcut icon" href="~/assets/images/favicon-light.ico" media="(prefers-color-scheme: light)">
    <!-- Css -->
    @Html.Partial("_CssLinks")
    @await RenderSectionAsync("Styles", required: false)
    </head>
    <body>
        <div id="layout-wrapper">
        @Html.Partial("_Header")

        @Html.Partial("_verticalMenu")

        @Html.Partial("_Ishorizontal")

            <div class="main-content">
                <div class="page-content">
                @RenderBody()
                </div>
            @Html.Partial("_Footer")
            </div>
        </div>
    @Html.Partial("_RighitSidebar")
        <!-- JAVASCRIPT -->
    @Html.Partial("_JsLinks")
    @await RenderSectionAsync("Scripts", required: false)


    </body>

</html>