<!doctype html>
<html lang="en">
<head>
    <title>@ViewData["Title"] | MS2-Admin</title>
    <!-- Css -->
    @Html.Partial("_CssLinks")
    @await RenderSectionAsync("Styles", required: false)
    </head>
    <body>
        <div id="layout-wrapper">
        @Html.Partial("_Header")

        @Html.Partial("_verticalMenu")

        @Html.Partial("_Ishorizontal")

            <div class="main-content">
                <div class="page-content">
                @RenderBody()
                </div>
            @Html.Partial("_Footer")
            </div>
        </div>
    @Html.Partial("_RighitSidebar")
        <!-- JAVASCRIPT -->
    @Html.Partial("_JsLinks")
    @await RenderSectionAsync("Scripts", required: false)


    </body>

</html>